@model List<LabRab6_MDiSUBD_Timoshevich.Entities.Product>

<h2>Product Catalog</h2>

<table class="table table-striped">
    <thead class="thead-dark">
    <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Price</th>
        <th>Type</th>
        <th>Manufacturer</th>
        <th>Unit of Measure</th>
        <th>Quantity</th>
        <th>Action</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var product in Model)
    {
        <tr>
            <td>@product.Name</td>
            <td>@product.Description</td>
            <td>@product.Price.ToString("F2")</td>
            <td>@product.ProductType</td>
            <td>@product.ManufacturerName</td>
            <td>@product.UnitOfMeasure</td>
            <td>@product.Quantity</td>
            <td>
                <form method="post" action="@Url.Action("AddToCart", "Catalog")">
                    <input type="hidden" name="productId" value="@product.Id" />
                    <button type="submit" class="btn btn-success">Add to Cart</button>
                </form>
            </td>
        </tr>
    }
    </tbody>
</table>