@using System.Globalization
@model List<LabRab6_MDiSUBD_Timoshevich.Entities.CartItem>
<style>
    table {
        width: 100%;
        border-collapse: collapse;
        margin-top: 20px;
    }
    table, th, td {
        border: 1px solid #ddd;
    }
    th, td {
        padding: 10px;
        text-align: center;
    }
    th {
        background-color: #f4f4f4;
    }
    .total {
        font-weight: bold;
        font-size: 1.2em;
        margin-top: 20px;
    }
</style>

<h2>Your Cart</h2>
@if (Model != null && Model.Count > 0)
{
    <table>
        <thead>
        <tr>
            <th>Product</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductName</td>
                <td>@item.Price</td>
                <td>
               
                    <form method="post" asp-action="UpdateCart" asp-route-productId="@item.ProductId" asp-route-quantity="@(item.Quantity - 1)">
                        <button type="submit" @(item.Quantity == 1 ? "disabled" : "")>-</button>
                    </form>
                    @item.Quantity
                    <form method="post" asp-action="UpdateCart" asp-route-productId="@item.ProductId" asp-route-quantity="@(item.Quantity + 1)">
                        <button type="submit">+</button>
                    </form>
                </td>
                <td>@(item.Quantity * item.Price)</td>
                <td>
                    <form method="post" asp-action="RemoveFromCart" asp-route-productId="@item.ProductId">
                        <button type="submit">Remove</button>
                    </form>
                </td>
            </tr>
        }
        </tbody>
    </table>
    <form method="post" asp-action="UpdateCart">
        <div class="form-group">
            <label for="promoCodeId">Enter Promo Code (optional):</label>
            <input type="text" id="promoCodeId" name="promoCodeId" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Apply Promo Code</button>
    </form>

    <p class="total">Total: @Model.Sum(i => i.Quantity * i.Price)</p>

    <form method="post" asp-action="CreateOrder">
        <div class="form-group">
            <label for="pickupLocationId">Select Pickup Location:</label>
            @Html.DropDownList("pickupLocationId", (SelectList)ViewBag.PickupLocations, "Choose a location", new { @class = "form-control" })
        </div>


        <button type="submit" class="btn btn-primary">Place Order</button>
    </form>
}
else
{
    <p>Your cart is empty.</p>
}